[alias]
    clone-for-worktrees="!sh $HOME/dotfiles/usr/scripts/git_aliases/git_clone_wt"
    branch-picker="!f() { git branch $@ --format=\"%(refname:short)\" | fzf | sed \"s/origin\\///g\"; }; f"
[user]
	name = Aaron Hallaert
	email = hallaertaaron@gmail.com
[merge]
	conflictstyle = diff3
[rerere]
    enabled = false
[fetch]
	prune = true
[commit]
    gpgSign = true

[includeIf "gitdir:~/Developer/televic/"]
    path = ~/.gitconfig-work
[safe]
	directory = /home/aaron/Developer/televic/confero-cam-compositor

# set nvim as git difftool
[diff]
    tool = nvimdiff
[color]
	ui = auto
