[alias]
    clone-for-worktrees="!sh $HOME/dotfiles/usr/scripts/git_aliases/git_clone_wt"
[user]
	name = Aaron Hallaert
	email = hallaertaaron@gmail.com
[merge]
	conflictstyle = diff3
[rerere]
    enabled = false
[fetch]
	prune = true

[includeIf "gitdir:~/Developer/televic/"]
    path = ~/.gitconfig-work
