configuration {
 modi: "window,drun,ssh,combi";
 font: "JetBrainsMono Nerd Font 10";
 combi-modi: "window,drun,ssh";
 show-icons: true;
 icon-theme: "Papirus";
}
window {
 transparency: "screenshot";
}
@theme "rounded-blue-dark"
