[Unit]
Description=Hyprpaper
Wants=bing_wallpaper.service
After=kanshi.service

[Service]
ExecStart=hyprpaper
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/%U
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
FailureAction=none

[Install]
WantedBy=default.target
