[Unit]
Description=Hyprpanel
After=kanshi.service

[Service]
ExecStart=hyprpanel
ExecStop=hyprpanel -q
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/%U
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
FailureAction=none

[Install]
WantedBy=graphical-session.target
