[Unit]
Description=Kanshi display manager

[Service]
ExecStart=/usr/local/bin/kanshi
Restart=always
RestartSec=5
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/%U

[Install]
WantedBy=graphical-session.target
