[Unit]
Description=Sway idle management service

[Service]
ExecStart=%h/.config/sway/scripts/swayidle.sh
Restart=on-failure

[Install]
WantedBy=graphical-session.target
