[Unit]
Description=Sway idle management service

[Service]
ExecStart=/home/aaron/.config/sway/scripts/swayidle.sh
Restart=on-failure

[Install]
WantedBy=graphical-session.target
