@define-color background rgba(24,24,30,1);

* {
    border-radius: 0;
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 10pt;
    min-height: 0;
    margin-left: 0.05em;
}

window#waybar {
    background: @background;
    color: #DADAE8;
}

tooltip {
	background: @background;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #a4b9ef;
	}

#customprivacy {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background: #524d45;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
}

#privacy {
    margin-left: 0;
}

#custom-camera {
    margin-right: 3px;
}

#mode {
    color: #1E1E28;
    background: #F9C096;
    font-size: 8pt;
    padding: 5px;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 0;
    color: #DADAE8;
}

#workspaces button.focused {
    color: #A4B9EF;
}

#workspaces button.urgent {
    color: #F9C096;
}

#workspaces button:hover {
    border-color: #332e41;
	color: #A4B9EF;
}

#clock, #battery, #pulseaudio, #workspaces, #mpd  {
	padding: 2px 10px;
    background: @background;
}

#network {
    padding-left: 15px;
    padding-right: 2px;
    background: @background;
}

#tray {
    margin-right: 1em;
    margin-left: 1em;
    background: @background;
}


#custom-vpn {
    background: @background;
    padding-right: 10px;
}

#clock {
    padding-right: 15px;
}

#custom-notification {
    background: @background;
    margin-right: 5px;
}

#custom-spotify {
    background: @background;
    padding-right: 15px;
    padding-left: 15px;
}
